
body {
font-family: 'Kanit', sans-serif;
background-color: mediumpurple;
}

.header {
  float:left;
  width:100%;
}

.header img {
  display:block;
  margin: 0 auto;
}

h1 {
color: #6441A5;    
  text-align: center;
}

.buttons {
/*     z-index: 100;*/
  text-align: center;
}

#all {
  background-color: #757571;
  color: #fff;
}

#online {
  background-color: #F5F4F4;
  color:#6441A5;
}

#offline {
  background-color: #F5F4F4;
  color:#6441A5;    
}

.row {
  margin-top: 20px;  
   
}



.row div {
  height: 60px;
  text-align: center;
  margin-top:3px;
 -webkit-transition: all .2s ease-in-out; 
}
.row div:hover { 
-webkit-transform: scale(1.1); 
    border-radius: 25px;
}
.row div img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.colorOnline {
  background-color: #f5f4f4;    
}

.colorOfline {
  background-color: #f5f4f4;
}

.colorOfline span {
  color: #e62222;
}

.colorOnline p {
  color:#34712b;
}

#resultList {
  overflow: hidden;
    
}

#resultList p {    
font-size: 15px;
letter-spacing: 1px;    
text-align: center;
padding:20px 5px;
}
#resultList p a{ 
    color: #6441A5;
    letter-spacing: 1px;
    text-decoration: none;
    } 

@media (max-width: 700px) {
#resultList p {
    font-family: sans-serif;  
    font-size: 10px;
    letter-spacing: .5px;
    }
.header img {
    width:100%;
    padding: 5px 10px
    }
.row div img {
  width: 33px;
  height: 33px;
  border-radius: 10px;
  display: block;
  margin: 10px -10px;
    }    
   
}

.background-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:hidden;
     z-index: -1;
}
.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  transform: translateX(0%);
   z-index: -1;
  animation: backgroundtransform 12s ease infinite;
  
  /* gradient magic happens here */ 
  background: -moz-linear-gradient(-45deg,  rgba(33,165,145,0) 0%, rgba(33,165,145,0) 34%, rgba(33,165,145,1) 86%, rgba(33,165,145,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(33,165,145,0)), color-stop(34%,rgba(33,165,145,0)), color-stop(86%,rgba(33,165,145,1)), color-stop(100%,rgba(33,165,145,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(33,165,145,0) 0%,rgba(33,165,145,0) 34%,rgba(33,165,145,1) 86%,rgba(33,165,145,1) 100%); /* W3C */

}

@keyframes backgroundtransform { 
    0%{
      transform: translateX(0%);
    }
    50%{
      transform: translateX(-50%);
    }
    100%{
      transform: translateX(0%);
    }
}
